.location {
  box-shadow: 0px 40px 40px rgba(43, 40, 40, 0.6);

  #map {
    height: 665px;
    width: 100%;
  }

  &__container {
    position: relative;
  }

  &__contacts {
    padding: 25px 0;

    width: 100%;
    max-width: 526px;

    background-color: #2E2B2C;
    border-radius: 15px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 1);

    position: absolute;
    z-index: 5;
    top: 210px;
    left: 67px;
  }

  &__title {
    padding: 0 0 26px 43px;

    font-family: 'Gilroy Bold';
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  &__text-info {
    padding: 15px 48px 28px 87px;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 100%);
    border-image-slice: 1;
  }

  &__adress-section-title,
  &__mail-section-title {
    margin-bottom: 3px;

    font-family: 'Gilroy Regular';
    font-size: 14px;
    line-height: 16px;
    color: #CFCFCF;
  }

  &__adress-section-adress,
  &__mail-section-mail {
    font-family: 'Gilroy Semibold';
    font-size: 16px;
    line-height: 19px;
  }

  &__adress-section {
    margin-bottom: 20px;

    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: -30.7px;

      width: 15.36px;
      height: 18.27px;

      background: url('../img/location/location-icon.svg') center no-repeat;
      background-size: cover;
    }
  }

  &__mail-section {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: -33px;

      width: 19.23px;
      height: 17.12px;

      background: url('../img/location/mail-icon.svg') center no-repeat;
      background-size: cover;
    }
  }

  &__btns {
    padding: 17px 42px 30px 52px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 33px;
  }

  &__btns-book {
    padding: 22px 30px;

    font-family: 'Gilroy Bold';
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase;

    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;

    transition: .2s linear;

    &:hover {
      box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.3);
    }
  }

  &__number {

    p {
      font-family: 'Gilroy Regular';
      font-size: 13px;
      line-height: 15px;
      color: #CFCFCF;
    }
  }

  &__num {
    font-family: 'Gilroy Bold';
    font-size: 23px;
    line-height: 28px;
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 26px;

    p {
      font-family: 'Gilroy Semibold';
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__links {
    display: flex;
    column-gap: 10px;

    svg {
      transition: .2s linear;
    }

    &-facebook:hover svg,
    &-vk:hover svg,
    &-youtube:hover svg,
    &-instagram:hover svg {
      opacity: 0.5;
    }

  }
}




