.active {
  display: block;
}

.order {
  // padding: 50px 0 90px;

  // font-size: 16px;
  // line-height: 19px;
  // font-family: 'Gilroy Regular';

  // input:focus::placeholder {
  //   opacity: 0;
  // }

  // &__container {
  //   margin: 0 auto;

  //   width: 100%;
  //   max-width: 800px;
  // }

  &__link {
    margin-bottom: 35px;
    padding-left: 12px;

    display: flex;
    align-items: center;
    font-family: 'Gilroy Bold';

    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 58%;
      transform: translateY(-50%);
    }
  }

  &__stop-list {
    // width: 100%;
    // padding: 43px 30px;
    // margin-bottom: 20px;

    // background: #2B2829;
    // border-radius: 10px;

    // position: relative;

    // display: none;

    .active {
      display: block;
    }

    // &-title {
    //   margin-bottom: 20px;

    //   font-size: 22px;
    //   line-height: 27px;
    //   font-family: 'Gilroy Bold';
    // }

    // &-subtitle {
    //   font-size: 18px;
    //   line-height: 21px;
    // }

    // &-img {
    //   width: 154.72px;
    //   height: 131.5px;

    //   position: absolute;
    //   bottom: 0;
    //   right: 55px;
    // }


  }

  // &__title {
  //   margin-bottom: 54px;
  // }

  &__subtitle {
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Gilroy Bold';
  }

  &__fieldset-contacts,
  &__fieldset-delivery,
  &__fieldset-pay,
  &__fieldset-times,
  &__fieldset-conditions {
    margin-bottom: 22px;

    padding: 30px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;

    input {
      padding: 20px 30px;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: unset;

      color: #fff;
      font-size: 16px;
      line-height: 19px;
      font-family: 'Gilroy Regular';

      &::placeholder {
        color: #fff;
      }
    }
  }

  &__pickup {
    width: 360px;

    position: relative;

    &.open &-body{
      display: block;
    }

    .open &-header {
      border-radius: 10px 10px 0 0;
    }

    .open &-icon {
      transform: rotate(180deg);
    }

    &-header {
      padding: 20px 30px;

      display: flex;
      align-items: center;

      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }

    &-icon {
      width: 13px;
      height: 9px;
      margin-left: auto;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-shrink: 0;

      transition: transform .3s ease-in-out;
    }

    &-body {
      display: none;

      position: absolute;
      left: 0;
      right: 0;
      top: 100%;

      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 0 0 10px 10px;
      border-top: 0;
      background: #494544;
      overflow: hidden;
    }

    &-item {
      padding: 10px 30px;

      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);

      &:hover {
        background-color: #403c3c;
      }
    }

  }

  &__fieldset-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;

    h2 {
      grid-column: span 2;
    }

    input{
      width: 100%;

      &::placeholder {
        opacity: 0;
      }
    }

    input:focus + &-placeholder {
      opacity: 0;
    }

    input:not(:placeholder-shown) + &-placeholder {
      opacity: 0;
    }

    &-container {
      position: relative;
    }

    &-placeholder {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      pointer-events: none;

      transition: .1s ease-in-out;

      span {
        color: #72A479;
      }
    }

  }

  &__fieldset-delivery {
    h3 {
      margin-bottom: 22px;
      font-family: 'Gilroy Bold';
    }

    &-btns {
      margin-bottom: 30px;

      display: flex;
      align-items: center;
      column-gap: 46px;

      input {
        width: 180px;
        border: 1px solid #72A479;

        transition: background .2s ease-in;

        &.active {
          background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
          font-family: 'Gilroy Bold';
        }
      }

      input:first-child{
        border-radius: 10px 0 0 10px;
        border-right: 0;
      }

      input:last-child{
        margin-left: -4px;
        border-radius: 0 10px 10px 0;
        border-left: 0;
      }


      p {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: -26px;
          transform: translateY(-50%);

          width: 16px;
          height: 16px;
          background: url('../../resources/order/clock-icon.svg');
        }
      }
    }
  }

  &__delivery-tab {
    display: none;

    &.active {
      display: block;
    }
  }

  &__adress {
    display: grid;
    grid-template-columns: repeat(6, 85px);
    gap: 15px;

    input {
      width: 100%;
      grid-column: span 2;
    }

    &-street::placeholder,
    &-home::placeholder {
      opacity: 0;
    }

    &-container {
      position: relative;
    }

    input:focus + &-street-placeholder,
    input:focus + &-home-placeholder {
      opacity: 0;
    }

    input:not(:placeholder-shown) + &-street-placeholder,
    input:not(:placeholder-shown) + &-home-placeholder {
      opacity: 0;
    }

    &-street-placeholder,
    &-home-placeholder {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      pointer-events: none;

      transition: 0.1s ease-in-out;

      span {
        color: #72A479;
      }
    }

    &-container:first-child {
      grid-column: span 4;
    }

    &-container:nth-child(2) {
      grid-column: span 2;
    }

    input:last-child {
      grid-column: span 6;
    }


  }

  &__fieldset-pay {

    &-btns {
      margin-bottom: 15px;

      input {
        border: 1px solid #72A479;

        transition: background 0.2s ease-in;

        &.active {
          background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
          font-family: 'Gilroy Bold';
        }
      }

      input:nth-child(1) {
        border-radius: 10px 0 0 10px;
        border-right: 0;
      }

      input:nth-child(2) {
        border-radius: 0;
        margin-left: -4px;
      }

      input:nth-child(3) {
        border-radius: 0 10px 10px 0;
        border-left: 0;
        margin-left: -4px;
      }

    }

    &-change {
      max-width: 180px;

      display: none;

      &.active {
        display: flex;
      }

      input:first-child {
        padding-right: 0;
        width: 100px;

        border-radius: 10px 0 0 10px;
        border-right: 0;
      }

      input:last-child {
        padding-right: 20px;
        padding-left: 0;
        width: 80px;

        border-radius: 0 10px 10px 0;
        border-left: 0;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          display: none;
          -webkit-appearance: none;
          margin: 0;
        }

      }


    }

  }

  &__fieldset-times {

    &-call-btns {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      &-radio {
        display: none;
      }

      &-radio-design {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #fff;

        transition: .1s linear;

        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          border-radius: 50%;
          width: 14px;
          height: 14px;
          background: #72A479;

          opacity: 0;

          transition: .2s linear;
        }
      }

      &-radio:checked + &-radio-design::after {
        opacity: 1;
      }

      &-radio:checked + &-radio-design {
        border: 1px solid #72A479;
      }

      label {
        display: flex;
        align-items: center;
        column-gap: 9px;

        cursor: pointer;
        user-select: none;

        p {
          line-height: 1;
        }
      }
    }

    &-time-btns {
      margin-bottom: 20px;

      input {
        width: 184px;
      }

      input[type=button] {
        width: 184px;
        padding-left: 0;
        padding-right: 0;
      }

      input[type='text'] {
        display: none;
      }

      input[type='text'].active {
        display: inline-block;
      }

      input:nth-child(1),
      input:nth-child(2) {
        &.active {
          background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
          font-family: 'Gilroy Bold';
        }
      }

      input:nth-child(1) {
        border: 1px solid #72A479;
        border-radius: 10px 0 0 10px;
        border-right: 0;

        transition: background 0.2s ease-in, font-family 0.2s ease-in;
      }

      input:nth-child(2) {
        border: 1px solid #72A479;
        border-radius: 0 10px 10px 0;
        margin-left: -4px;
        margin-right: 15px;

        transition: background 0.2s ease-in, font-family 0.2s ease-in;
      }

    }

    &-persons {
      position: relative;
      width: 260px;

      input {
        width: 100%;
      }

      input:focus::placeholder {
        opacity: 1;
      }

      &-counter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 70px;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 18px;

        input {

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
            margin: 0;
          }

          padding: 0;
          text-align: center;
          border: 0;
          border-radius: 0;

          font-size: 18px;
          line-height: 21px;
          font-family: 'Gilroy Medium';
        }
      }

      &-minus,
      &-plus {
        width: 14px;
        height: 14px;
        cursor: pointer;
      }

      &-minus {
        background: url('../../resources/order/minus-icon.svg') center no-repeat;
      }

      &-plus {
        background: url('../../resources/order/plus-icon.svg') center no-repeat;
      }

    }

    h3 {
      margin: 20px 0;
      font-family: 'Gilroy Bold';
    }

    input[type=radio] {
      width: 20px;
      height: 20px;
    }

  }

  &__fieldset-conditions {
    margin-bottom: 0;
    padding: 17px 20px 17px 30px;

    display: flex;
    align-items: center;

    input[type=checkbox] {
      display: none;
    }

    label {
      display: flex;
      align-items: center;
      column-gap: 11px;

      cursor: pointer;
      user-select: none;

      font-size: 13px;
      line-height: 15px;
      font-family: 'Gilroy Medium';

      a {
        color: #72A479;
        text-decoration: underline;
      }
    }

    &-checkbox_design {
      display: inline-block;
      width: 22px;
      height: 22px;
      border-radius: 3px;
      background: #fff;

      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-image: url('../../resources/order/checked-icon.svg');
        opacity: 0;
        transition: .1s linear;
      }
    }

    &-checkbox:checked + &-checkbox_design::before {
      opacity: 1;
    }

    &-btn {
      width: 210px;
      padding: 17px 0;
      margin-left: auto;

      font-size: 14px;
      line-height: 17px;
      color: #fff;
      font-family: 'Gilroy Bold';

      background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
      border-radius: 10px;
    }
  }
}
