.promotions {
  margin-bottom: 70px;

  &__title {
    padding: 50px 0 36px 50px;
    margin-bottom: 40px;

    border-image: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
    border-image-slice: 1;
    border-bottom: 1px solid;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }

}