html, body {
  background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
  color: #fff;
}

html {
  height: 100%;
}

body {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1395px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none;
}