html, body {
  background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
  // background: #211F20;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1395px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none;
}