html, body {
  background-color: $accent-color;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1395px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none;
}