.delivery-terms {

  &__title {
    margin: 50px 0 42px;
  }

  &__container {
    margin-bottom: 30px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  &__accordion {

    max-width: 672px;
    width: 100%;

   &_item {
    max-height: 67px;

    border-radius: 10px;

    overflow: hidden;
    position: relative;

    transition: .2s linear;

    &.active {
      max-height: 200px;
    }

   }

   &_item.active &_btn {
    background: linear-gradient(114.93deg, #597e5f 5.11%, #66926b 94%);
   }

   &_item.active &_icon {
    transform: rotateX(180deg);
   }

   &_item + &_item {
    margin-top: 10px;
   }

   &_btn {
    padding: 16px 30px;

    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    p {
      font-size: 18px;
      line-height: 35px;
      font-family: 'Gilroy Medium';
    }

   }

   &_icon {
    transition: .2s linear;
   }

   &_info {
    padding: 110px 30px 40px;

    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;

    transition: .2s linear;

    p {
      font-size: 16px;
      line-height: 25px;
      font-family: 'Gilroy Regular';
    }

   }

  }

  &__map {
    width: 100%;
    max-width: 672px;
    border-radius: 10px;
    overflow: hidden;
  }

  &__info {
    margin-bottom: 40px;

    display: flex;
    column-gap: 100px;

   &_delivery,
   &_cafe {
    font-size: 22px;
    line-height: 35px;

    h2 {
      font-family: 'Gilroy Bold';
    }

    p {
      font-family: 'Gilroy Regular';
      color: #CFCFCF;
    }
   }

  }

  &__order {
    margin-bottom: 37px;
    max-width: 700px;

    font-size: 22px;
    line-height: 35px;

    h2 {
      font-family: 'Gilroy Bold';
    }

    p {
      font-family: 'Gilroy Regular';
      color: #CFCFCF;
    }
  }

}
