.footer {
  &__container {
    padding: 26px 30px 30px 120px;

    display: flex;
    column-gap: 86px;

    position: relative;
  }

  &__up-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;

    width: 64px;
    height: 64px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
  }

  &__links {
    max-width: 208px;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 15px;
  }

  &__ooo {
    margin-bottom: 7px;

    font-family: 'Gilroy Medium';
    font-size: 12px;
    line-height: 14px;
    color: #CFCFCF;
  }

  &__link {
    margin-bottom: 7px;
    display: inline-block;

    font-family: 'Gilroy Medium';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    transition: .2s linear;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0);
    }
  }

}

