.main {
  height: 70vh;
  background-color: #211F20;
  background-image: linear-gradient(90deg, rgba(33,31,32,1) 0%, rgba(68,64,63,0) 70%), url('../img/main-bg.jpg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 75%;

  overflow: hidden;

  &__container {
    position: relative;
    height: 100%;
  }

  &__title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}