.order {

  font-size: 16px;
  line-height: 19px;
  font-family: 'Gilroy Regular';

  input:focus::placeholder {
    opacity: 0;
  }

  &__container {
    margin: 0 auto;

    width: 100%;
    max-width: 800px;
  }

  &__link {
    margin-bottom: 35px;
    padding-left: 12px;

    display: flex;
    align-items: center;
    font-family: 'Gilroy Bold';

    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 58%;
      transform: translateY(-50%);
    }
  }

  &__title {
    margin-bottom: 54px;
  }

  &__subtitle {
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Gilroy Bold';
  }

  &__fieldset,
  &__fieldset-contacts,
  &__fieldset-delivery,
  &__fieldset-pay,
  &__fieldset-times,
  &__fieldset-conditions {
    margin-bottom: 22px;

    padding: 30px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;

    input {
      padding: 20px 30px;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: unset;

      color: #fff;
      font-size: 16px;
      line-height: 19px;
      font-family: 'Gilroy Regular';

      &::placeholder {
        color: #fff;
      }
    }

    &-delivery {

      &-btns {
        margin-bottom: 30px;

        display: flex;
        align-items: center;
        column-gap: 46px;

        input {
          width: 180px;
          border: 1px solid #72A479;

          transition: background .2s ease-in;

          &.active {
            background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
            font-family: 'Gilroy Bold';
          }
        }

        input:first-child{
          border-radius: 10px 0 0 10px;
          border-right: 0;
        }

        input:last-child{
          margin-left: -4px;
          border-radius: 0 10px 10px 0;
          border-left: 0;
        }


        p {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -26px;
            transform: translateY(-50%);

            width: 16px;
            height: 16px;
            background: url('../img/order/clock-icon.svg');
          }
        }
      }

    }
  }

  &__fieldset-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;

    h2 {
      grid-column: span 2;
    }

    input{
      width: 100%;

      &::placeholder {
        opacity: 0;
      }
    }

    input:focus + &-placeholder {
      opacity: 0;
    }

    input:not(:placeholder-shown) + &-placeholder {
      opacity: 0;
    }

    &-container {
      position: relative;
    }

    &-placeholder {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      pointer-events: none;

      transition: .1s ease-in-out;

      span {
        color: #72A479;
      }
    }

  }

  &__fieldset-delivery {
    h3 {
      margin-bottom: 22px;
      font-family: 'Gilroy Bold';
    }
  }

  &__adress {
    display: grid;
    grid-template-columns: repeat(6, 85px);
    gap: 15px;

    input {
      width: 100%;
      grid-column: span 2;
    }

    &-street::placeholder,
    &-home::placeholder {
      opacity: 0;
    }

    &-container {
      position: relative;
    }

    input:focus + &-street-placeholder,
    input:focus + &-home-placeholder {
      opacity: 0;
    }

    input:not(:placeholder-shown) + &-street-placeholder,
    input:not(:placeholder-shown) + &-home-placeholder {
      opacity: 0;
    }

    &-street-placeholder,
    &-home-placeholder {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      pointer-events: none;

      transition: 0.1s ease-in-out;

      span {
        color: #72A479;
      }
    }

    &-container:first-child {
      grid-column: span 4;
    }

    &-container:nth-child(2) {
      grid-column: span 2;
    }

    input:last-child {
      grid-column: span 6;
    }


  }

  &__fieldset-pay {

    &-btns {
      margin-bottom: 15px;

      input {
        border: 1px solid #72A479;

        transition: background 0.2s ease-in;

        &.active {
          background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
          font-family: 'Gilroy Bold';
        }
      }

      input:nth-child(1) {
        border-radius: 10px 0 0 10px;
        border-right: 0;
      }

      input:nth-child(2) {
        border-radius: 0;
        margin-left: -4px;
      }

      input:nth-child(3) {
        border-radius: 0 10px 10px 0;
        border-left: 0;
        margin-left: -4px;
      }

    }

    &-change {
      max-width: 180px;

      display: flex;

      input:first-child {
        padding-right: 0;
        width: 100px;

        border-radius: 10px 0 0 10px;
        border-right: 0;
      }

      input:last-child {
        padding-right: 20px;
        padding-left: 0;
        width: 80px;

        border-radius: 0 10px 10px 0;
        border-left: 0;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          display: none;
          -webkit-appearance: none;
          margin: 0;
        }

      }


    }

  }

  &__fieldset-times {

    &-call-btns {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      div {
        display: flex;
        align-items: center;
        column-gap: 9px;
      }
    }

    &-time-btns {
      margin-bottom: 20px;

      input {
        width: 184px;
      }

      input[type=button] {
        width: 184px;
        padding-left: 0;
        padding-right: 0;
      }

      input:nth-child(1),
      input:nth-child(2) {
        &.active {
          background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
          font-family: 'Gilroy Bold';
        }
      }

      input:nth-child(1) {
        border: 1px solid #72A479;
        border-radius: 10px 0 0 10px;
        border-right: 0;

        transition: background 0.2s ease-in, font-family 0.2s ease-in;
      }

      input:nth-child(2) {
        border: 1px solid #72A479;
        border-radius: 0 10px 10px 0;
        margin-left: -4px;
        margin-right: 15px;

        transition: background 0.2s ease-in, font-family 0.2s ease-in;
      }

    }

    h3 {
      margin: 20px 0;
      font-family: 'Gilroy Bold';
    }

    input[type=radio] {
      width: 20px;
      height: 20px;
    }

  }

  &__fieldset-conditions {
    margin-bottom: 0;
    padding: 17px 20px 17px 30px;

    display: flex;
    align-items: center;

    input[type=checkbox] {
      margin-right: 11px;
      width: 22px;
      height: 22px;
    }

    label {
      font-size: 13px;
      line-height: 15px;
      font-family: 'Gilroy Medium';

      a {
        color: #72A479;
        text-decoration: underline;
      }
    }

    &-btn {
      width: 210px;
      padding: 17px 0;
      margin-left: auto;

      font-size: 14px;
      line-height: 17px;
      color: #fff;
      font-family: 'Gilroy Bold';

      background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
      border-radius: 10px;
    }
  }
}
