.product {
  padding: 40px 0 14px;

  &__container {
    margin-bottom: 50px;
    max-width: 1212px;
  }

  &__link {
    margin-bottom: 27px;

    display: flex;
    align-items: center;
    column-gap: 10px;

    img {
      padding: 7.5px 10px;
      background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
      border-radius: 50%;
    }

    p {
      font-size: 16px;
      line-height: 19px;
      font-family: 'Gilroy Semibold';
    }
  }

  &__card {
    display: flex;

    border-radius: 10px;
    overflow: hidden;

   &_img {
    overflow: hidden;
    flex-shrink: 0.5;

    img {
      height: 100%;
    }
   }

  }

  &__info {
    padding: 35px 50px;
    flex-basis: 0.5;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  }

  &__title {
    margin-bottom: 5px;

    font-size: 25px;
    line-height: 30px;
    font-family: 'Gilroy Bold';
  }

  &__descr {
    margin-bottom: 150px;

    font-size: 14px;
    line-height: 16px;
    font-family: 'Gilroy Regular';
    color: #CFCFCF;
  }

  &__btns {
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    column-gap: 30px;

    &_container {
      display: flex;
    }

   &_add,
   &_remove {
    width: 60px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #618967;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: #72A479;
    }
   }

   &_add {
    border-radius: 0 24px 24px 0;
   }

   &_remove {
    border-radius: 24px 0 0 24px;
   }

   &_price {
    font-size: 25px;
    line-height: 30px;
    font-family: 'Gilroy Semibold';
   }


  }

  &__table {
    font-size: 12px;
    line-height: 14px;

    tr + tr {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    tr:last-child {
      font-family: 'Gilroy Medium';
    }

    tr:first-child {
      font-family: 'Gilroy Regular';
    }

    td {
      padding: 5px 0;
      text-align: center;
    }

    td + td {
      padding-left: 50px;
    }
  }

  &__others-container {
    padding-top: 50px;
  }

  &__line {
    border-image: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
    border-image-slice: 1;
    border-top: 1px solid;
  }

  &__others {

   &_title {
    margin-left: 50px;
    margin-bottom: 30px;
   }

  }

}
