html, body {
  background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
  color: #fff;
}

html {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.none {
  display: none;
}